body {
  margin: 0;
  height: 100%;
  background: rgb(24, 24, 24);
  color: #b9bdab;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

button,
input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  user-select: none;
  vertical-align: middle;
  border-radius: 3px;
}

input {
  border: 1px solid transparent;
  color: #000000;
  font-weight: 500;
}

main.main-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: repeating-linear-gradient(
    45deg,
    rgb(17, 17, 17),
    rgb(17, 17, 17) 10px,
    rgb(12, 12, 12) 10px,
    rgb(12, 12, 12) 20px
  );
  border: 1px solid rgb(7, 7, 7);
  display: grid;
  grid-template-areas:
    'main-header'
    'main-nav'
    'main-content'
    'footer';
}

/*
 * HEADER
 */

header.main-header {
  grid-area: main-header;
  height: 200px;
  background: rgba(0, 0, 0, 0.4) url('./images/header.png');
}

/*
 * NAVIGATION
 */

nav.main-nav {
  grid-area: main-nav;
  background: linear-gradient(rgb(29, 29, 29), rgb(12, 12, 12));
  padding: 10px;
  border: 1px solid rgb(7, 7, 7);
}

nav.main-nav a {
  all: unset;
  float: left;
  padding: 8px 12px;
  cursor: pointer;
  text-transform: uppercase;
  color: #cfcfcf;
  transition: 0.2s;
}

nav.main-nav a:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

/*
 * MIDDLE CONTENT
 */

main.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-areas: 'main-left main-middle main-right';
  grid-template-columns: 220px 1fr 220px;
  gap: 10px;
  padding: 10px 0 10px 0;
}

aside.main-left {
  grid-area: main-left;
  background: rgba(15, 15, 15, 0.6);
  border: 1px solid rgb(7, 7, 7);
}

aside.main-right {
  grid-area: main-right;
  background: rgba(15, 15, 15, 0.6);
  border: 1px solid rgb(7, 7, 7);
}

main.main-middle {
  grid-area: main-middle;
  background: rgba(15, 15, 15, 0.6) url('./images/pngguru.com-id-frvkn.png')
    no-repeat right 20px bottom / auto 250px;
  border: 1px solid rgb(7, 7, 7);
  min-height: 350px;
}

/*
 * FOOTER
 */

footer {
  grid-area: footer;
  background: linear-gradient(rgb(15, 15, 15), rgb(29, 29, 29));
  border: 1px solid rgb(7, 7, 7);
  padding: 5px;
  color: #807d61;
}

footer .title {
  text-align: center;
  font-size: 18px;
  padding: 2px;
}

footer .desc {
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

/*
 * CONTENT
 */

h1.content-title {
  all: unset;
  display: block;
  font-size: 16px;
  padding: 10px 10px 10px 28px;
  background: #0e0e0e url('./images/arrow.png') no-repeat 8px center/15px 15px;
  border-bottom: 3px solid rgb(20, 82, 20);
  color: #6a7220;
  text-transform: uppercase;
}

h1.content-title:not(:first-child) {
  border-top: 1px solid rgb(7, 7, 7);
}

section.content-body {
  background: rgba(27, 27, 27, 0.781);
  margin: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

.padding {
  padding: 5px;
}

/*
 * RANKINGS
 */

.rankings-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 5px;
}

.rankings-table .character {
  background: #0f0e0e;
  position: relative;
  padding: 5px;
  overflow: hidden;
  border-radius: 5px;
}

.rankings-table .character .name {
  position: relative;
  z-index: 5;
  font-size: 15px;
}

.rankings-table .character .name a {
  all: unset;
  color: #6faa48;
  background: rgba(15, 14, 14, 0.692);
  cursor: pointer;
}

.rankings-table .character .name a:hover {
  text-decoration: underline;
}

.rankings-table .character .info {
  font-size: 14px;
  margin-top: 3px;
  padding: 5px;
  background: #292c0c80;
}

.rankings-table .character .image {
  position: absolute;
  padding: 5px;
  background: #0f0e0e;
  top: 0;
  right: 0;
}

.rankings-table .character .image img {
  display: block;
  width: 50px;
  height: 50px;
  border-top-left-radius: 5px;
}

/*
 *  LOGIN AREA
 */

.user-login {
  display: grid;
  grid-template-areas:
    'username   loginBtn'
    'password   loginBtn';
  grid-template-columns: minmax(0, 1fr) 60px;
  gap: 5px;
  padding: 5px;
}

.user-login .username {
  grid-area: username;
  padding: 5px;
}

.user-login .password {
  grid-area: password;
  padding: 5px;
}

/*
 *  SPECIAL BUTTON
 */

.user-login .login-btn {
  position: relative;
  grid-area: loginBtn;
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  background-color: #614c09;
  border: 1px solid #7e630b;
  transition: 0.3s;
  color: #ffffff;
}

.user-login .login-btn:hover {
  background-color: #7c6310;
  border: 1px solid #9c7c11;
}

/* .user-login .login-btn:hover span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #ffffff);
  animation: animation-btn1 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animation-btn1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.user-login .login-btn:hover span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #ffffff);
  animation: animation-btn2 1s linear infinite;
}

@keyframes animation-btn2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.user-login .login-btn:hover span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, transparent, #ffffff);
  animation: animation-btn3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animation-btn3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.user-login .login-btn:hover span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, transparent, #ffffff);
  animation: animation-btn4 1s linear infinite;
}

@keyframes animation-btn4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
} */

/*
 *  SPECIAL BUTTON END
 */

.user-register a {
  all: unset;
  display: block;
  padding: 5px;
  text-align: center;
  color: #6a7220;
  cursor: pointer;
}

.user-register a:hover {
  text-decoration: underline;
}

/*
 * RESPONSIVE
 */

@media (max-width: 1260px) {
  main.main-container {
    margin: 0;
  }
}

@media (max-width: 1150px) {
  .rankings-table {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 550px) {
  .rankings-table {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  main.main-content {
    grid-template-areas: 'main-middle main-right';
    grid-template-columns: 1fr 220px;
  }

  aside.main-left {
    display: none;
  }
}

@media (max-width: 750px) {
  main.main-container {
    padding: 10px;
    grid-template-areas:
      'main-nav'
      'main-content'
      'footer';
  }

  header.main-header {
    display: none;
  }

  main.main-content {
    grid-template-areas:
      'main-right'
      'main-middle';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  nav.main-nav a {
    display: block;
    float: none;
    margin: 10px 0 0 0;
  }

  nav.main-nav a:first-child {
    margin: 0;
  }
}
