.event-container {
  display: grid;
  grid-template-areas:
    'event-name event-start'
    'event-text event-time';
  border-bottom: 1px solid rgb(12, 12, 12);

  &:last-child {
    border: none;
  }

  & .name {
    grid-area: event-name;
    font-size: 18px;
    padding: 5px 0 5px 5px;
    color: #9e8227;
  }

  & .start {
    grid-area: event-start;
    justify-self: flex-end;
    font-size: 18px;
    color: #9e8227;
    padding: 5px 5px 5px 0;
  }

  & .starting-text {
    grid-area: event-text;
    padding: 0 0 5px 5px;
    color: #535e22;
  }

  & .starting-time {
    grid-area: event-time;
    justify-self: flex-end;
    padding: 0 5px 5px 0;
    color: #535e22;
  }
}

.market-side {
  & a {
    display: block;
    padding: 5px;
    margin: 5px;
  }
}
