html {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    rgb(17, 17, 17),
    rgb(17, 17, 17) 10px,
    rgb(12, 12, 12) 10px,
    rgb(12, 12, 12) 20px
  );
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

/*
 * MAIN CONTAINER
 */

main.main-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: rgb(12, 12, 12);
  border: 1px solid rgb(7, 7, 7);
  display: grid;
  grid-template-areas:
    'main-header'
    'main-nav'
    'main-content'
    'footer';
}

header.main-header {
  grid-area: main-header;
  height: 200px;
  background: rgba(10, 10, 10, 0) url('../images/header.png');
  position: relative;
  overflow: hidden;

  & span {
    position: absolute;
    background: #ff0000;
    transition: 0.3s ease;
  }

  & span:nth-of-type(1) {
    width: 1px;
    height: 100%;
    left: 0;
    bottom: -100%;

    &.run {
      top: 100%;
    }
  }

  & span:nth-of-type(2) {
    width: 100%;
    height: 1px;
    left: -100%;
    top: 0;
    transition-delay: 0.3s;

    &.run {
      left: 100%;
    }
  }

  & span:nth-of-type(3) {
    width: 1px;
    height: 100%;
    right: 0;
    top: -100%;
    transition-delay: 0.6s;

    &.run {
      top: 100%;
    }
  }
}

nav.main-nav {
  grid-area: main-nav;
  background: linear-gradient(rgb(29, 29, 29), rgb(12, 12, 12));
  border: 1px solid rgb(4, 4, 4);

  & a {
    all: unset;
    float: left;
    padding: 16px 16px;
    cursor: pointer;
    text-transform: uppercase;
    color: #cfcfcf;
    transition: 0.2s;

    &:hover {
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
      color: #ffffff;
    }
  }
}

main.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-areas: 'main-left main-middle main-right';
  grid-template-columns: 220px 1fr 220px;
  gap: 10px;
  padding: 10px 0 10px 0;
}

aside.main-left {
  grid-area: main-left;
}

aside.main-right {
  grid-area: main-right;
  // border: 1px solid rgb(7, 7, 7);
}

main.main-middle {
  grid-area: main-middle;
  background: url('../images/bull.png') no-repeat right 20px bottom / auto 250px;
  // border: 1px solid rgb(7, 7, 7);
  min-height: 350px;
}

footer {
  grid-area: footer;
  background: rgba(15, 15, 15, 1);
  border: 1px solid rgb(7, 7, 7);
  padding: 5px;
  color: #807d61;

  & .title {
    text-align: center;
    font-size: 18px;
    padding: 2px;
  }

  & .desc {
    text-align: center;
    font-size: 12px;
    padding: 2px;
  }
}

div.content-spacer {
  height: 10px;
  // background: rgb(12, 12, 12);
  // border-top: 1px solid rgb(7, 7, 7);
  // width: calc(100% + 2px);
  // margin-left: -1px;
}

h1.content-title {
  all: unset;
  display: block;
  font-size: 16px;
  padding: 10px 10px 10px 28px;
  background: rgb(17, 17, 17) url('../images/arrow.png') no-repeat 8px
    center/15px 15px;
  border: 1px solid rgb(7, 7, 7);
  border-bottom: 3px solid rgb(20, 82, 20);
  color: #6a7220;
  text-transform: uppercase;
}

section.content-body {
  background: rgb(25, 26, 23);
  border: 1px solid rgb(7, 7, 7);

  & .content {
    margin: 5px;
    background: rgb(18, 18, 18);
    border: 1px solid rgb(15, 15, 15);
    overflow-wrap: break-word;
    word-break: break-all;
  }
}

.classic-form {
  padding: 20px;
  margin: auto;
  display: grid;
  gap: 30px;
  max-width: 400px;
  & .field-area {
    display: grid;

    & .field-title {
      font-size: 18px;
      padding: 5px;
    }

    & .field-description {
      font-size: 13px;
      padding: 5px 0 0 15px;
    }

    & .padding {
      padding: 5px;
    }
  }
}

@media (max-width: 1260px) {
  main.main-container {
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  main.main-content {
    grid-template-areas: 'main-middle main-right';
    grid-template-columns: 1fr 220px;
  }

  aside.main-left {
    display: none;
  }
}

@media (max-width: 750px) {
  main.main-container {
    padding: 10px;
    grid-template-areas:
      'main-nav'
      'main-content'
      'footer';
  }

  header.main-header {
    display: none;
  }

  main.main-content {
    grid-template-areas:
      'main-right'
      'main-middle';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  nav.main-nav a {
    display: block;
    float: none;
    margin: 10px 0 0 0;
  }

  nav.main-nav a:first-child {
    margin: 0;
  }
}
