.rankings-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  & .character {
    background: #0f0e0e;
    position: relative;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;

    & .name {
      position: relative;
      z-index: 5;
      font-size: 15px;

      & a {
        all: unset;
        color: #6faa48;
        background: rgba(15, 14, 14, 0.692);
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & .info {
      font-size: 14px;
      margin-top: 3px;
      padding: 5px;
      background: #292c0c80;

      & .row {
        margin-bottom: 3px;
      }
    }

    & .image {
      position: absolute;
      padding: 5px;
      background: #0f0e0e;
      top: 0;
      right: 0;

      & img {
        display: block;
        width: 50px;
        height: 50px;
        border-top-left-radius: 5px;
      }
    }

    & .value {
      color: #b9bb49;
    }

    & .guild-logo {
      position: absolute;
      bottom: 18px;
      right: 10px;
      background: rgb(0, 0, 0);
      box-shadow: 0 0 5px #000000;

      & .cell {
        float: left;
      }
    }
  }
}

.rankings-table {
  display: grid;
  gap: 5px;

  & .character {
    display: flex;
    background: #0f0e0e;
    padding: 5px;
    border-radius: 5px;
    align-items: center;

    & .name {
      flex: 1;
    }

    & .level {
      flex: 1;
    }

    & .class {
      flex: 2;
    }

    & .zen {
      flex: 2;
    }

    & .guild {
      & .guild-logo {
        & .cell {
          float: left;
        }
      }
    }

    &:nth-child(odd) {
      background: #1b1a1a;
    }
  }
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
  box-shadow: 0 0 5px 1px #000000;

  &.offline {
    background: #ff3e3e;
  }

  &.online {
    background: #4cb667;
  }
}

// PAGINATION
.pagination {
  margin: 5px 0 0 0;
  padding: 8px;
  background: #0f0f0f;
  border: 1px solid #0c0c0c;
  overflow: hidden;

  &:nth-child(4) {
    margin: 5px 0 5px 0;
  }

  & .view {
    all: unset;
    float: left;
    padding: 6px 10px;
    color: #0f0f0f;
    background: #ffffff;
    cursor: pointer;
    margin: 0 5px 0 0;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
  }

  & .btn {
    background: #41753f;
    color: #ffffff;
    transition: 0.1s;

    &:hover {
      background: #599957;
    }
  }

  & .disabled {
    background: #8eaf8c;

    &:hover {
      background: #8eaf8c;
    }
  }

  & strong {
    font-weight: 600;
  }
}

// SEARCH
.search-bar {
  padding: 8px;
  background: #0f0f0f;
  border: 1px solid #0c0c0c;
  overflow: hidden;
  display: grid;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 5px;

  &.classes {
    width: calc(50% - 2.5px);
    float: left;
  }

  &.sort {
    width: calc(50% - 2.5px);
    float: right;
  }

  &.byName {
    display: flex;
    & input {
      flex: 7;
      margin-right: 10px;
    }

    & select {
      flex: 1;
      border-radius: 3px;
    }

    & svg {
      cursor: pointer;
    }
  }

  & label.row {
    height: 32px;
    text-transform: uppercase;
    border: 1px solid #1e2205;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;

    & input {
      width: 15px;
      height: 15px;
      margin: 10px 7px 7px 7px;
    }
  }

  & div.row {
    height: 32px;
    border: 1px solid #1e2205;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & .buttons-group {
      height: 22px;
      display: flex;
      font-size: 12px;
      border-radius: 3px;
      overflow: hidden;
      margin-left: 5px;

      & .button {
        display: flex;
        background: #55533c;
        color: rgb(196, 196, 196);
        align-items: center;
        padding: 0 5px 0 5px;
        justify-content: center;

        &:active {
          background: #535025;
          color: #ffffff;
        }
      }

      & .active {
        color: #ffffff;
        background: #499418;
      }
    }
  }
}

@media (max-width: 1150px) {
  .rankings-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 550px) {
  .rankings-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-bar {
    &.classes,
    &.sort {
      display: none;
    }
  }
}

// PAGINATION
@media (max-width: 600px) {
  .pagination {
    text-align: center;

    & .view {
      float: none;
      display: inline-block;

      &.total {
        display: none;
      }
    }
  }
}
